/*@font-face {
    font-family: georgia;
    src: url(/georgia.ttf);
}
*/
body {
    font-family: Helvetica !important;
    max-width: 1170px;
    margin: 100px auto !important;
    background-color: white;
    color: #3A3A48;
}

/* cover */
.name {
    margin-top: 200px;
    font-size: 100px;
    font-weight: 800;
}

.desc {
    padding: 80px 0 0 400px;
    font-size: 25px;
    font-weight: 100;
}


/* project box */
.port-box {
    margin-top: 200px;
}

.project-role {
    font-size: 20px;
}

.project-title {
    font-size: 60px;
}

.project-desc {
    font-size: 25px;
    font-weight: 200;
}

.thumb {
    width: 600px;
}
