
body {
    max-width: 1170px;
    margin: 100px auto !important;
    background-color: white;
    color: #3A3A48;
}

/* cover */
h1 {
    margin-top: 250px;
    font-size: 120px;
}

.desc {
    padding: 80px 0 0 400px;
    font-size: 30px;
}


/* project box */
.port-box {
    margin-top: 200px;
}

.project-title {
    font-size: 60px;
}

.project-desc {
    font-size: 25px;
}

.thumb {
    width: 600px;
}
