body {
    margin: 10%;
    background-color: white;
    color: #3A3A48;
}

h1 {
    margin-top: 250px;
    font-size: 120px;
    color: black;
}

.project {
    width: 50%;
}

.desc {
    padding-left: 500px;
    padding-right: 50px;
    font-size: 25px;
}

.spacer {
    height: 250px;
}

.thumb {
    width: 600px;
}
